<div id="sudoku-section" class="layout-content-container">
  <div class="sudoku-section-hero">
  </div>
      <h2 class="sudoku-section-title">Mini Sudoku</h2>
    <p>Aşağıdaki Sudoku'yu çöz ve "Kontrol Et"e bas!</p>
  <table id="sudoku-table">
    <tbody>
      <tr>
        <td><input type="number" min="1" max="4"  maxlength="1" size="1" id="s00"></td>
        <td><input type="number" min="1" max="4"  maxlength="1" size="1" id="s01"></td>
        <td><input type="number" min="1" max="4"  maxlength="1" size="1" id="s02"></td>
        <td><input type="number" min="1" max="4"  maxlength="1" size="1" id="s03"></td>
      </tr>
      <tr>
        <td><input type="number" min="1" max="4"  maxlength="1" size="1" id="s10"></td>
        <td><input type="number" min="1" max="4"  maxlength="1" size="1" id="s11"></td>
        <td><input type="number" min="1" max="4"  maxlength="1" size="1" id="s12"></td>
        <td><input type="number" min="1" max="4"  maxlength="1" size="1" id="s13"></td>
      </tr>
      <tr>
        <td><input type="number" min="1" max="4"  maxlength="1" size="1" id="s20"></td>
        <td><input type="number" min="1" max="4"  maxlength="1" size="1" id="s21"></td>
        <td><input type="number" min="1" max="4"  maxlength="1" size="1" id="s22"></td>
        <td><input type="number" min="1" max="4"  maxlength="1" size="1" id="s23"></td>
      </tr>
      <tr>
        <td><input type="number" min="1" max="4"  maxlength="1" size="1" id="s30"></td>
        <td><input type="number" min="1" max="4"  maxlength="1" size="1" id="s31"></td>
        <td><input type="number" min="1" max="4"  maxlength="1" size="1" id="s32"></td>
        <td><input type="number" min="1" max="4"  maxlength="1" size="1" id="s33"></td>
      </tr>
    </tbody>
  </table>
  <div class="game-section-btn-row">
    <button onclick="checkSudoku()" class="btn btn-primary">Kontrol Et</button>
    <button onclick="generateAndShowSudoku()" class="btn btn-secondary">Yeni Sudoku</button>
    <button onclick="backToMain()" class="btn btn-secondary">Geri Dön</button>
  </div>
  <p id="sudoku-feedback" class="game-section-feedback"></p>
</div>